# build output
dist/
.astro/

# deps
node_modules/

# env (never commit real keys)
.env
.env.production
.env.local

# os / editor
.DS_Store
*.log
npm-debug.log*

# sanity
sanity/dist/
.sanity/

# Local Netlify folder
.netlify
